
/*
#section1
{
    padding:5px;
    list-style-type: none;
    background-color: #9c9f84;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;

}


#section2
{
    padding:5px;
    list-style-type: none;
    background-color: #9c9f84;
     margin: 10px;
     margin-right: 0px;
     margin-left: 0px;
}


#section3
{
    padding:5px;
    list-style-type: none;
    background-color: #9c9f84;
    margin-left: 0px;
    margin-right: 0px;

    
  
}

#logo
{
    color: white;
    font-size: 50px;
    padding: 0 30px;
    font-weight: bold;
    margin-bottom: 0px;




}


header
{
    padding:30px 10px;
    list-style-type: none;
    margin-top: 0px;
    height:25px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    color: wheat;

}
.nav_links
{
list-style: none;
}

.nav_links li
{
display: inline-block;
padding: 30px;
}

.nav_links li a
{
transition: all 0.3s ease 0s;
color: white;
}


.nav_links li a:hover
{
background-color: violet;
}
 

#aboutme
{

flex: 1;
font-size: 20px;
color: white;
}

#work
{
flex: 1;
font-size: 20px;
color: white;
}
#contactme
{
flex: 1;
font-size: 20px;
color: white;
}
#resume
{
flex:1;
font-size: 20px;
color: white;

}
   




.detail1
{
    
    display: grid;
    grid-template-columns: (2, 1fr);
   
    

}

.mainpicture
{
display: flex;
justify-content: space-around;
padding: 20px;
list-style-type: none;
flex: 1;
}

.footer
{
    list-style-type: none;

 }

#mainfooter
{
 align-items: center;
}


 #subfooter
{
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 60px;
}

#break1
{
    padding:5px;
    list-style-type: none;
    background-color: #9c9f84;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;

}

#break2
{
    padding:5px;
    list-style-type: none;
    background-color: #9c9f84;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;

}

#break3
{
    padding:5px;
    list-style-type: none;
    background-color: #9c9f84;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;

}


#subfooter li a
{
transition: all 0.3s ease 0s;
color: white;
}
#subfooter li a:hover
{
background-color:violet;

}--*/








.mainbody{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;

}

#break1
{
    background: white;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 5px;

}

#break2
{
    background: white;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 5px;

}
#secondbody 

{
    grid-column-start: 1;
    grid-column-end: 3;
}
    

#nav_links
{
 display: flex;   
list-style: none;
justify-content: flex-end;
}

#nav_links li
{
display: inline-block;
padding: 30px;
}


#detail
{
   background: white; 
}
